<%- include("./layouts/header.ejs") %>

<div class="container">
    <h1>Blog Setup</h1>

    <form action = "" method="POST", enctype="multipart/form-data">
        <div class = "row">
            <div class = "col-sm-20">
                <input type = "text" name = "blog_title" placeholder="Enter Blog Title" required>
            </div>
        </div>
        <div class = "row mt-3">
            <div class = "col-sm-20">
                <input type = "file" name = "blog_image" required>
            </div>
        </div>
        <div class = "row mt-3">
            <div class = "col-sm-20">
                <input type = "text" name = "description" placeholder="Enter Description" required>
            </div>
        </div>
        <div class = "row mt-3">
            <div class = "col-sm-20">
                <input type="text" name = "name" placeholder="Enter Admin Name" required>
            </div>
        </div>
        <div class = "row mt-3">
            <div class = "col-sm-20">
                <input type="email" name = "email" placeholder="Enter Email" required>
            </div>
        </div>
        <div class = "row mt-3">
            <div class = "col-sm-20">
                <input type="password" name = "password" placeholder="Enter Password" required>
            </div>
        </div>
        <div class = "row mt-3">
            <div class = "col-sm-20">
                <input type="submit" class="btn btn-primary" value = "Blog Setup">
            </div>
        </div>
    </form>

</div>

<% 
if (typeof message != 'undefined') {
    %>
    <p style="color : red;"><%= message %></p>
    <%
}
%>

<%- include("./layouts/footer.ejs") %>