<%- include('./layouts/header.ejs') %>

<div class="container mt-5 mb-5">
    <h1>Forget Password</h1>
    <form method="POST">
        <input type="email" required placeholder="Enter Email" name = "email">
        <br><br>
        <input type="submit" value = "Forget Password" class="btn btn-info">
    </form>

    <%
    if (typeof message !== 'undefined') {
        %>
        <p><%= message %></p>
        <%
    }
    %>

</div>

<%- include('./layouts/footer.ejs') %>