<%- include('./layouts/header.ejs')%>

<div class="container mb-5 mt-5">
    <h1>Reset Password</h1>
    <form method="POST">
        <input type="password" required placeholder="Enter the Password" name = "password">
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <br><br>
        <input type="submit" value="Reset" clas="btn btn-info">
    </form>
</div>
<%- include('./layouts/footer.ejs')%>